<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szzy.packages"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:name="com.szzy.packages.activity.MApplication"
        android:icon="@drawable/logo_1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
                <activity
            android:name="com.szzy.packages.activity.LoginActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册 -->
        <activity android:name="com.szzy.packages.activity.RegisterActivity"></activity>
        <!-- 主界面 -->
       <activity android:name="com.szzy.packages.activity.MainActivity" android:launchMode="singleTask"></activity>  
    	<!-- 二维码扫描 -->
    	<activity android:name="com.szzy.packages.activity.MipcaActivityCapture"
    	    android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"> </activity>
    	<!-- 投件界面 -->
    	<activity android:name="com.szzy.packages.activity.PostInfoActivity"
    	    ></activity>
    	<!-- 选择箱子界面 -->
    	<activity android:name="com.szzy.packages.activity.SelectBoxActivity"></activity>
    	<!-- 查询界面 -->
    	<activity android:name="com.szzy.packages.activity.SearchPackageActivity"></activity>
    	<!-- 业主寄存界面 -->
    	<activity android:name="com.szzy.packages.activity.UserPostActivity"></activity>
    	<!-- 快递待收界面 -->
    	<activity android:name="com.szzy.packages.activity.UserPostExpressPost"></activity>
    	<!-- 第三方服务界面 -->
    	<activity android:name="com.szzy.packages.activity.OtherServiceCompanyActivity"></activity>
    	<!-- 亲友寄存界面 -->
    	<activity android:name="com.szzy.packages.activity.FamilyPostActivity"></activity>  
    	<!-- 商店购物界面 -->
    	<activity android:name="com.szzy.packages.activity.ShopActicity"></activity>
    	<!-- 取件签收界面 -->
    	<activity android:name="com.szzy.packages.activity.GetPackageActivity"></activity> 
    	<!-- 信箱界面 -->
    	<activity android:name="com.szzy.packages.activity.MailBoxActivity"></activity>   
    	<!-- 展示柜界面 -->
    	<activity android:name="com.szzy.packages.activity.ShowBoxActivity"></activity>   	     	  	
    </application>

</manifest>
